@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
.up_nav{
    width: 100%;
    padding: 10px;
    position: absolute;
    display: flex;
    background-color:transparent;
    justify-content: space-between;
    z-index: 999;
    color: white;
}
.up_nav .contect{
    display: flex;
}
.up_nav p{
    padding-left: 5px;
    font-size: 15px;
}
.up_nav .logo img{
    width:80px;
    padding-top: 30px;
}
.contries{
    display: flex;
    padding: 10px;
}
.contries .england,
.contries .india{
    display: flex;
    margin-top: -10px;
}
.contries p{
    margin-top: 1px;
}
.contries .line{ 
    height: 18px;
    margin:0 10px;
    margin-top: -7px;
    width: 1px;
    background-color:white;
}
.contries img{
    width: 25px;
    height: 25px;
}
.contries .england img{
    height: 15px;
    margin-top: 5px;
}
.navbar{
    position: absolute;
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}
.navbar a{
    font-size: 15px;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: .3s;
}
.navbar a:hover{
    color:rgb(243, 243, 116);
    padding: 0px 10px;
    font-size: 18px;
}
.slider_container .img_box{
    background-color: black;
    margin-bottom: -15px;
}
.slider_container .img_box img{
    background-color: black;
    max-width: 100%;
    opacity: 80%;
}
.slider_container{
    position: relative;
    background-color: black;
}
.slider_container .container{
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: aqua;
}
.swiper-pagination{
    display: none;
}
.slider_container .swiper-button-next,
.slider_container .swiper-button-prev{
    opacity: 0;
    color: #fff;
    position: absolute;
    padding: 0 15px;
}
.slider_container .swiper-button-next i{
    font-size: 55px;
    width: 98%;
    margin: 0px -13px 0 -10px;
    color: skyblue;
    position: absolute;
    transition: .5s;
}
.slider_container .swiper-button-prev i{
    font-size: 55px;
    width: 98%;
    margin: 0 0 0 -10px;
    color: skyblue;
    position: absolute;
    transition: .5s;
}
.slider_container .swiper-button-next i:hover,
.slider_container .swiper-button-prev i:hover{
    color:white;
}

.slider_container:hover .swiper-button-next,
.slider_container:hover .swiper-button-prev{
    opacity: 1;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
}
.slider_container .innertext{
    width: 100%;
    position: absolute;
    text-align: start;
    margin-left: 40px;
    margin-top: -150px;
    color:white;
    z-index:999;
}
.slider_container .innertext p{
    font-size: 15px;
    font-weight: 200;
    padding-top: 6px;
}
.pera{
    width:100%;
    display: flex;
    padding: 40px 120px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.pera h5{
    color: #ae9e7c;
}
.pera h6{
    font-size: 15px;
    font-weight: 500;
}
.pera div img{
    width:15%;
}
.pera p{
    font-size: 12px;
    padding: 0px 120px;
    font-weight: 400;
}
.pera .btn{
    color: #ae9e7c;
    text-decoration: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    transition: .1s;
}
.pera .btn:hover{
    color: #4E6C50;
    text-decoration: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.pera .btn i{
    font-size: 25px;
    padding-left: 15px;
}
.cabana_div{
    display: flex;
    width: 100%;
    position: relative;
    padding: 20px 150px;
}
.cabana_div .cabana_img{
    width: 60%;
}
.cabana_div .cabana_img img{
    width: 100%;
}
.cabana_div .cabana_text{
    position: absolute;
    width: 40.5%;
    border: 1px solid #191B11;
    height: 340px;
    padding: 50px 75px 50px 150px;
    margin-top: 62px;
    margin-left: 38.58%;
}
.cabana_div .cabana_text h3{
    font-size: 18px;
    color: #ae9e7c;
}
.cabana_div .cabana_text h4{
    font-size: 16px;
    padding: 10px 0;
    font-weight: 500;
}
.cabana_div .cabana_text p{
    font-size: 12px;
    font-weight:400 ;
}
.cabana_div .cabana_text .btn{
    margin-top: 30px;
    color: white;
    background-color: #ae9e7c;
    text-decoration: none;
    border-radius: 0;
    width: 51%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    transition: .5s;
}
.cabana_div .cabana_text .btn i{
    font-size: 25px;
    padding-left: 5px;
}
.cabana_div .cabana_text .btn:hover{
    background-color: #4E6C50;
}

.slider_container2{
    padding: 50px 0;
}
.slider_container2 .img_box{
    padding: 10px;
    height: 400px;

}
.slider_container2 .swiper-button-next,
.slider_container2 .swiper-button-prev{
    border: 0;
    width: 30px;
    height: 30px;
    color: #ae9e7c;
    margin-left: 50px;
    opacity: 80%;
}
.slider_container2 .swiper-button-next{
    margin-right: 10%;
}

.slider_container2 .swiper-button-prev{
    margin-left: 10%;
}
.slider_container2 i{
    font-size: 25px;
}
.slider_container2 .innertext{
    width: 100%;
    position: absolute;
    text-align: start;
    margin-left: 40px;
    margin-top: -130px;
    color:white;
    z-index:999;
}
.slider_container2 .innertext p{
    font-size: 15px;
    font-weight: 200;
    padding-top: 4px;
}
.slider_container2 .img_box .btn{
    margin-top: 10px;
    color: white;
    background-color: #ae9e7c;
    text-decoration: none;
    border-radius: 0;
    width: 17%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    transition: .5s;
}
.slider_container2 .btn i{
    font-size: 25px;
    padding-left: 5px;
}
.slider_container2 .btn:hover{
    background-color: #4E6C50;
}
.upcoming img{
    width: 10px;
}
.upcoming h6{
    margin-bottom: 0;
}
.slider_container3{
    position: relative;
    padding-bottom: 40px;
}
.slider_container3 .innertext{
    width:94.5%;
    height: 145px;
    position: absolute;
    text-align: center;
    margin-top: -145px;
    color:white;
    background-color: #191B11;
    opacity: 70%;
}
.slider_container3 .img_box{
    padding: 10px;
    width: 100%;

}
.slider_container3 .img_box .line{
    width: 85%;
    margin-left: 18px;
    position: absolute;
    text-align: center;
    padding-top: 100%;
    margin-top: -508px;
    color:white;
    height: 89%;
    border: 1px solid white;
    background-color: transparent;
    z-index: 999;
}
.slider_container3 .img_box .line h5{
    font-size: 15px;
    font-weight: 400;
}

.slider_container3 .img_box .line p{
    font-size: 13px;
    font-weight: 300;
}
.slider_container3 .img_box .line .btn{
    margin-top: 10px;
    margin-left: 90px;
    color: white;
    background-color: #ae9e7c;
    text-decoration: none;
    border-radius: 0;
    width: 43%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    transition: .5s;
    
}
.slider_container3 .line .btn i{
    font-size: 25px;
    padding-left: 5px;
}
.slider_container3 .line .btn:hover{
    background-color: #4E6C50;
}

.slider_container3 .swiper-button-next,
.slider_container3 .swiper-button-prev{
    border: 0;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #ae9e7c;
    transition: .3s;
}
.slider_container3 .swiper-button-next:hover,
.slider_container3 .swiper-button-prev:hover{
    background-color: #4E6C50;
}
.slider_container3 .swiper-button-next{
    margin-right: 50px;
}

.slider_container3 .swiper-button-prev{
    margin-left: 50px;
}
.slider_container3 .swiper-button-next i,
.slider_container3 .swiper-button-prev i{
    font-size: 40px;
}


.slider_container4{
    height: 470px;
}
.slider_container4 .swiper-slide{
    width: 100%;
    height: 100%;
}
.slider_container4 .img_box{
    display: flex;
    width: 55%;
    position: relative;
    background-color: #191B11;
}
.slider_container4 .img_box img{
    width: 100%;
    height: 400px;
    background-color: #4E6C50;
}
.slider_container4 .innertext{
    position: absolute;
    width: 84%;
    border: 1px solid #191B11;
    height: 280px;
    margin-top: 62px;
    margin-left: 520px;
    text-align: start;
    padding: 50px 20px 10px 150px;
}
.slider_container4 .innertext h6{
    color: #ae9e7c;
    font-size: 13px;
    font-weight: 700;
}
.slider_container4 .innertext h5{
    font-size: 15px;
    font-weight: 400;
    padding: 10px 0;
}
.slider_container4 .innertext div{
    height: 1.5px;
    background-color: black;
    width: 15%;
}
.slider_container4 .innertext p{
    font-size: 12px;
    font-weight: 300;
    color: #ae9e7c;
    padding: 10px 0;
}
.slider_container4 .innertext p span{
    color: black;
    display: block;
}
.slider_container4 .img_box .btn{
    margin-top: 10px;
    color: white;
    background-color: #ae9e7c;
    text-decoration: none;
    border-radius: 0;
    width: 40%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    transition: .5s;
}
.slider_container4 .btn i{
    font-size: 25px;
    padding-left: 5px;
}
.slider_container4 .btn:hover{
    background-color: #4E6C50;
}
.slider_container4 .swiper-button-next,
.slider_container4 .swiper-button-prev{
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: center;
    width: 65px;
    color:#ae9e7c;
    transition: .3s;
}
.slider_container4 .swiper-button-next p{
    font-size: 10px;
    margin-top: 15px;
    margin-right: 6px;
}
.slider_container4 .swiper-button-prev p{
    font-size: 10px;
    margin-top: 15px;
    margin-left: 6px;
}
.slider_container4 .swiper-button-next div,
.slider_container4 .swiper-button-prev div{
    height: 1px;
    width: 18px;
    background-color:#ae9e7c;
}
.slider_container4 .swiper-button-next .arrow,
.slider_container4 .swiper-button-prev .arrow{
    margin: 0;
}
.slider_container4 .swiper-button-next:hover,
.slider_container4 .swiper-button-prev:hover{
    color: #4E6C50;
}
.slider_container4 .swiper-button-next{
    margin-right: 73px;
    margin-top: 13%;
}

.slider_container4 .swiper-button-prev{
    margin-top:13%;
    margin-left: 890px;
}
.booking{
    display: flex;
    padding: 10px 100px;
    width: 100%;
}
.booking h1{
    color: #24251c;
    font-size: 25px;
    margin-top: 10px;
    padding: 0 30px;
    opacity: 80%;
}
.booking h1 span{
    display: block;
}
.booking .straight{
    width: 2px;
    height: 80px;
    background-color: #ae9e7c;
}
.booking .checkin{
    padding-left: 30px;
}
.booking .checkin p{
    font-size: 10px;
    margin-left: 33px;
    color: #ae9e7c;
}
.booking .checkin i{
    padding-right: 10px;
    color: #ae9e7c;
}
.booking .checkin input{
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: 0;
    width: 125px;
    cursor: pointer;
}
.booking .line{
    padding: 0 30px;
    font-size: 40px;
}
.booking .checkout{
    padding-right: 30px;
}
.booking .checkout p{
    font-size: 10px;
    color: #ae9e7c;
}
.booking .checkout input{
    font-size: 15px;
    font-weight: 500;
    outline: none;
    border: 0;
    width: 125px;
    cursor: pointer;
}
.booking .rooms{
    padding-left: 30px;
}
.booking .rooms p{
    font-size: 10px;
    color: #ae9e7c;
    margin-left: 33px;
}

.booking .rooms i{
    margin-right: 10px;
    color: #ae9e7c;
}
.booking .rooms #Choose{
    font-size: 15px;
    font-weight: 500;
    width: 145px;
    cursor: pointer;
    outline: none;
    border: 0;
    margin-right: 30px;
}
.booking .adults {
    margin-left: 30px;
}
.booking .adults p{
    font-size: 10px;
    color: #ae9e7c;
    margin-left: 33px;
}
.booking .adults i{
    margin-right: 10px;
    color: #ae9e7c;
}
.booking .adults #Choose{
    font-size: 15px;
    font-weight: 500;
    width: 145px;
    border: 0;
    cursor: pointer;
    margin-right: 30px;
    outline: none;
}
.book_btn{
    margin-top: 20px;
    color: white;
    border: 0;
    margin-left: 46%;
    background-color: #ae9e7c;
    border-radius: 0;
    height: 35px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    transition: .5s;
    margin-bottom: 50px;
}
.book_btn:hover{
    background-color: #4E6C50;
}
.blogs{
    width: 80%;
    display: flex;
    margin-left: 12%;
}

.blogs .blog .text{
    background-color: #ae9e7c;
    width: 85%;
    height: 450px;
    color: #fff;
}
.blogs .blog .text p{
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px 0;
}
.blogs .blog .imgdiv img{
    position: relative;
    width: 280px;
    height: 300px;
    margin: 15px 0 0 -25px;
}
.blogs .blog .imgdiv p{
    position: absolute;
    font-size: 15PX;
    margin-top: -40px;
    margin-left: -35px;
    z-index: 999;
}
.blogs .blog .text .text_btn{
    font-size: 15px;
    font-weight: 300;
    border: 0;
    margin-left: 20PX;
    color:#ae9e7c;
    background-color: #fff;
}
.blogs .blog .text .text_btn:hover{
    color: #4E6C50;
}
.lastdiv{
    background-color: #ae9e7c;
    color: #fff;
    display: flex;
    margin-top: 20px;
}
.lastdiv .info{
    display: flex;
}
.lastdiv .info .infocity{
    padding: 30px 100px;
    width: 70%;
}
.lastdiv .info .infocity h6{
    font-size: 12px;
}
.lastdiv .info .infocity h5{
    font-size: 15px;
    padding: 10px 0;
}
.lastdiv .info .infocity .line{
    width: 50px;
    height: 1px;
    background-color: #fff;
}
.lastdiv .info .infocity p{
    padding-top: 10px;
    font-size: 10px;
}
.lastdiv .info .infocity .social i{
    color: white;
    padding: 0 5px;
}
.lastdiv .info .infocity .social .fb i:hover{
    color:#262de2 ;
}
.lastdiv .info .infocity .social .tw i:hover{
    color:#1DA1F2 ;
}
.lastdiv .info .infocity .social .in i:hover{
    color:rgba(228,18,55,0.98);
}

.lastdiv .info .links h6{
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.lastdiv .info .links a{
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin-top: 10px;
    position: relative;
}
.lastdiv .info .links a::after{
    content: '';
    position: absolute;
    height: 1px;
    top: 20px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    width: 100%;
    background-color: white;
    transition: transform .3s ease-out ;
}
.lastdiv .info .links a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left ;
}
iframe{
    padding: 30px 50px;
}
footer {
    background-color: #ae9e7c;
    color: #fff;
    margin-bottom: 0;
}
footer div{
    height: 1px ;
    width: 90%;
    background-color: white;
    margin-left: 5%;
}
footer p{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}